@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/thumbs';

.container {
    width: 100%;
    max-width: 1236px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
}